body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 246, 246);

}

header, nav, main, footer {
    margin: 20px;
    background-color: rgb(237, 237, 237);
    box-shadow: 0 2px 4px rgba(210, 203, 203, 0.1);
    border-radius: 10px;
}

h1, h2, h3 {
    color: #8b4242;
    transition: color 0.9s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
   display: inline;
   margin-right: 10px;
   transition: transform 0.3s ease;

}

nav ul li a {
    text-decoration: none;
    color: #6c3a3a;
    transition: color 0.9s ease;
}

nav ul li a:hover {
    color: #ff6b6b;
}

section {
    margin-bottom: 30px;
    background-color: #fdfbfb;
    padding: 0px;
    border-radius: 4px;
}

.project {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
}

.project:hover {
    transform: scale(1.1);
}
form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}